@model IEnumerable<Recursos_Humanos.Cargos>

@{
    ViewBag.Title = "Index";
}

    <section class="single-page-title">
        <div class="container text-center">
            <h2>Cargos</h2>
        </div>
    </section>

    <div class="container body-content topSub">
        <div class="btn btn-blanco">
            @Html.ActionLink("Create New", "Create")
        </div>
        <table class="table"  style="margin-top:20px">
            <tr class="thEstilos">
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="thEstilos2">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        <div class="btn btn-warning">
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                        </div>
                        <div class="btn btn-success">
                            @Html.ActionLink("Detalles", "Details", new { id = item.Id })
                        </div>
                        <div class="btn btn-danger">
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                        </div>

                    </td>
                </tr>
            }

        </table>
    </div>
