@model Recursos_Humanos.Departamentos

@{
    ViewBag.Title = "Details";
}

    <section class="single-page-title">
        <div class="container text-center">
            <h2>Departamentos</h2>
        </div>
    </section>

    <div class="container body-content topSub">
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Codigo")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Codigo_Departamento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

            </dl>
        </div>
        <div class="form-group" style="margin-top:20px">
            <div>
                <div class="btn btn-primary" style="color:black">
                    @Html.ActionLink("Editar", "Edit", new { id = Model.Id })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div>
                <div class="btn btn-warning" style="margin-top:20px; margin-bottom:20px; ">
                    @Html.ActionLink("Regresar", "Index")
                </div>
            </div>
        </div>

    </div>