@model IEnumerable<Recursos_Humanos.V_Empleados_Activos>

@{
    ViewBag.Title = "Buscar";

}

<h2>Reporte de Empleados Activos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Ingreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
           
        </tr>
    }


</table>
@using (Html.BeginForm("Buscar", "V_Empleados_Activos", FormMethod.Get))
{
<p>
    <input type="text" name="Nombre" value="" placeholder="Buscar por Nombre..." class="form-control" />
    <br />
    <input type="submit" value="Buscar" class="btn btn-success" />
    <a href="/V_Empleados_Activos/Index" class="btn btn-success">Ver Todas las Salidas&raquo;</a>

</p>
}


@using (Html.BeginForm("Buscar_Departamento", "V_Empleados_Activos", FormMethod.Get))
{
    <p>
        <input type="text" name="search" value="" placeholder="Buscar por Departamento..." class="form-control" />
        <br />
        <input type="submit" value="Buscar por Departamento" class="btn btn-success" />
        <a href="/V_Empleados_Activos/Index" class="btn btn-success">Ver Todas las Salidas&raquo;</a>
    </p>
}